@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Initial Page"];
}

<div class="row">
    <div class="col-md-12">
        <p>IsResourceNotFound = @Localizer["Hello World!"].IsResourceNotFound</p>
        <h3>@Localizer["Hello World!"]</h3>
    </div>
</div>
